*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebarWrapper{
    /* border: 1px solid red; */
    width: 260px;
    height: 100vh;
    z-index: 1000;
    background-color: #1E293B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    /* margin-left: 260px; */
}

.navHead{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    color: white;
    height: 10vh;
    /* border: 1px solid white; */
}

.sidebar{
    width: 100%;
    /* height: 40px; */
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    min-height: 60vh;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    width: 90%;
    /* min-height: 40px; */
    /* border: 1px solid red; */
    /* align-items: center;  */
    /* background-color: blue; */
    color: white;
    padding: 5px;
    /* overflow-y: auto; */

}

.link{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid  rgb(130, 136, 141);;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;
}

.link:hover{
    border: 1px solid white;
    transition: all 0.3s ease-in;
    /* transform: scale(1.03); */
    transform: translateX(5px);
    
}

.activeLink{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 10px;
    text-decoration: none;
    color: white; /* Text white rahega */
    
    /* Background halka sa transparent blue */
    background-color: rgba(59, 130, 246, 0.1); 
    
    /* Border ka color */
    /* border: 1.5px solid #3b82f6;  */
    border: 1.5px solid rgb(244, 249, 244);
    
    /* Border ke corners round karne ke liye */
    border-radius: 20px; 
    
    /* GLOW EFFECT (Shadow): Ye sab se important hai */
    /* Pehla shadow bahar ki taraf, doosra andar ki taraf (inset) */
    /* box-shadow: 5px 5px 10px rgba(59, 130, 246, 0.4), 
                inset 4px 6px 5px rgba(59, 130, 246, 0.2); */

    
     box-shadow: 5px 5px 10px rgba(244, 249, 244, 0.4), 
                inset 4px 6px 5px rgba(244, 249, 244, 0.2);
    transition: all 0.3s ease; /* Smooth transition ke liye */

}

.link span{
    /* border: 1px solid white; */
    color: white;
    /* font-size: 20px; */
}

.navIcon{
    color: white;
    font-size: 20px;
}

.logOutBtn{
    width: 100%;
    /* flex-grow: 1; */
    height: 10vh;
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    align-items: flex-end;
    /* margin-bottom: 20px; */
}

.logOutBtn button{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid white;
    color: red;
    display: flex;
    align-items: center;
    /* align-items: flex-end; */
    justify-content: center;
    gap: 10px;
    font-size: 17px;
    
}

.smallScreenNav{
    /* display: block; */
        z-index: 1000;
        position: fixed;
        width: calc(100% - 260px);
        display: flex;
        justify-content: space-between;
        background-color: rgb(17, 28, 28);
        color: #fff;
        height: 50px;
        align-items: center;
        box-shadow: 3px 7px 10px rgba(42, 32, 32, 0.25);
        margin-left: 260px;
}

.toggleNav{
    display: none;
    width: 260px;
    height: 100vh;
    z-index: 1000;
    background-color: #1E293B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;

}

.closeNavIcon{
    display: none;
}

.menuIcon{
display: none;
}

.smallScreenNav h3{
    margin-left: 20px;
}

.topbarIcon{
    width: 100px;
    display: flex;
    /* justify-content: space-between; */
    /* border: 1px solid black; */
    gap: 20px;
}

@media (max-width : 768px){
    .sidebarWrapper{
        transform: translateX(-100%);
        transition: all 0.5s ease-in;
        margin-left: 0px;
    }

    .smallScreenNav{
        display: block;
        z-index: 1000;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(17, 28, 28);
        height: 50px;
        align-items: center;
        box-shadow: 3px 7px 10px rgba(42, 32, 32, 0.25);
        margin-left: 0%;
    }

    .toggleNav{
        display: block;
        left: 0;
        transition: all 0.5s ease-in;
    }

    

    .closeNavIcon{
        display: block;
        font-size: 30px;
    }

    .closeNav{
        /* border: 1px solid white; */
        margin-left: 30px;
    }

    .menuIcon{
        display: block;
    }

    .navHead{
        margin-bottom: 20px;
    }
}