.mainContainer{
    width: calc(100% -260px);
    margin-left: 260px;
    background-color: brown;
    margin-top: 50px;
}

/* .mainContainer h1{
    margin-top: 50px;
} */

@media (max-width : 768px){
    .mainContainer{
        width: 100%;
        margin-left: 0;
    }
}