.mainContainer{
    width: calc(100% - 260px);
    margin-left: 260px;
    margin-top: 70px;
}

.assignDocBtn{
    width: 100px;
    height: 30px;
    background-color: aqua;
}

@media (max-width : 768px){
    .mainContainer{
        width: 100%;
        margin-left: 0px;
    }    
}